<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}"> <!-- Need to link css from a folder called static ALWAYS! -->
    <title>Recipes</title>
</head>
<body>
    <form action="/recipe/new" method="POST">
        <h1>Welcome {{session['first_name']}}</h1>
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <label for="name">
                Name:
            </label>
            <input type="text" id="name" name="name"/>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div>
            <label for="instructions">Instructions:</label>
            <textarea name="instructions" id="instructions"></textarea>
        </div>
        <div>
            <label for="created_at">Date made on:</label>
            <input type="date" id="created_at" name="created_at">
        </div>
        <div>
            <label for="under_thirty">Under 30 minutes?</label>
            <input type="radio" name="under_thirty" value="1" checked/>Yes
            <input type="radio" name="under_thirty" value="0"/>No
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</body>
</html>